<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shorturl.mapper.AccessLogMapper">

    <insert id="insert" parameterType="com.example.shorturl.entity.AccessLogDO">
        INSERT INTO access_logs (short_code, original_url, ip, user_agent, referer, accessed_at)
        VALUES (#{shortCode}, #{originalUrl}, #{ip}, #{userAgent}, #{referer}, #{accessedAt})
    </insert>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO access_logs (short_code, original_url, ip, user_agent, referer, accessed_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.shortCode}, #{item.originalUrl}, #{item.ip}, #{item.userAgent}, #{item.referer}, #{item.accessedAt})
        </foreach>
    </insert>

</mapper>
